.nav__top__container {
    height: 70px;
    width: 100%;
    display: flex;
    
}

.top__container {
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: auto;
}


.control__bar {
    align-self: center;
    height: auto;
    width: auto;
    z-index: 1000;
    padding-left: 20%;
}

.drawer {
    display: none;
    height: auto;
    width: 80px;
    justify-content: center;
    align-items: center;
}

.bottom__container {
    margin-top: 15px;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 40px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

@media screen and (max-width: 500px) {
    .nav__top__container {
        height: auto;
    }
    .top__container {
        justify-content: space-between;
    }
}

@media screen and (max-width: 780px) {
    .control__bar{
       display: none;
    }
    .drawer{
        display: flex;
    }
}