/* ManageAccount.css */
.custom-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }
  
  .custom-modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    text-align: left;
  }
  
  .verification-badge {
    border-radius: 5px;
    padding: 5px;
    text-align: center;
  }
  .verification-badge.verified {
    border: 2px solid green;
    color: green;
  }
  
  .verification-badge.not-verified {
    border: 2px solid red;
    color: red;
  }
  .verification-badge.active {
    border: 2px solid green;
    color: green;
  }
  
  .verification-badge.inactive {
    border: 2px solid red;
    color: red;
  }


  