a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    color: black;
}

.nav__bottom__container a {
    text-decoration: none;
    color: rgb(3, 3, 3);
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom__container {
    margin: auto;
    display: none;
    align-items: center;
    flex-direction: row
}

.form__container {
    width: 50%;
    min-height: 10px;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-self: center;
    padding-bottom: 10px;
}

@media screen and (max-width: 780px) {
    .nav__bottom__container{
        display: none;
    }
}

@media screen and (max-width: 780px) {
    .control__small{
       display: flex;
       margin: auto 10px;
    }
}